html, body, .wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EEFFE9;
    font-family: 'Open Sans', sans-serif;
    color: #2E3832;
}

.container {
max-width: 940px;
margin: 0 auto;
padding: 0 10px;
}

.header {
  background-color: #E03C16;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #8BA897;
  margin: 0;
  padding: 0px 0px 25px 0px;
}

.nav {
  margin: 0;
  padding: 0;
}

.header ul, .footer ul {
    font-family: 'Open Sans Condensed', sans-serif;
    list-style: none;
    font-weight: 300;
}

.nav li, .footer li {
    display: inline;
    margin-right: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #2E3832;
}

.no_btn_link_foot {
    background-color: #8BA897;
    text-align: center;
    color: #EEFFE9;
    padding: 10px 25px 10px 25px;
    border: 5px solid #8BA897;
}

.no_btn_link_head {
    background-color: #E03C16;
    text-align: center;
    color: #EEFFE9;
    padding: 10px 25px 10px 25px;
    border: 5px solid #E03C16;
}

.no_btn_link_head:hover {
  color: #EEFFE9;
  font-weight: bolder;
  font-family: 'Open Sans Condensed', sans-serif;
  border-bottom: 5px solid #A32B10;
}

.no_btn_link_foot:hover {
    color: #EEFFE9;
    font-weight: bolder;
    font-family: 'Open Sans Condensed', sans-serif;
    border-bottom: 5px solid #5B6D62;
}

a {
  background: #E98A15;
  color: #EEFFE9;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  border: 5px solid #eeffe9;
  padding: 10px 25px 10px 25px;
}

a:hover {
  border-bottom: 5px solid #BA6D10;
}

.post_link, .post_link:hover {
  text-transform: uppercase;
  color: #5B6D62;
  font-weight: 600;
  background-color: #EEFFE9;
  padding: 0 2px 0 2px;
  border: 0;
}

h1 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h2 {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.4em;
    color: #333;
    font-family: font-family: 'Open Sans', sans-serif;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

blockquote {
  border-left: 4px solid #5B6D62;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: #5B6D62;
  text-transform: uppercase;
  line-height: 2em;
}

img {
  max-width: 250px;
  height: 250px;
}

.sidebar {
  display: inline-block;
  max-width: 250px;
}

.right {
  width: 60%;
  height: 100%;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.gallery {
  text-align: center;
  display: table-cell;
}
