
/* Dosis */
@font-face {
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* Cabin */
@font-face {
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* Catamaran */
@font-face {
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* Personal Flavour */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}

/* Typography */

body {
  font-size: 18px;
  color: #222222;
  font-family: "Cabin", "Raleway", Helvetica, Arial, sans-serif;
}
h1, h3, h5{
  font-family: "Cabin", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h4 {
  font-size: 22px;
}
h3 {
  font-size: 28px;
}

.prev, .next {
  color: #000;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: #99ffcc;
  background: #f7f7f7;
  padding: 10px 20px;
}

.prev:hover, .next:hover {
  color: #000;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: #99ffcc;
  padding: 10px 20px;
  background-color: #fff;
}

.topcorner {
   position: absolute;
   top: 0;
   right: 0;
   border-radius: 0 0 0 0;
   padding: 3%;

  }

blockquote {
  border-left-style: solid;
  border-width: thick;
  border-color: #00cc99;
  text-transform: uppercase;
  padding: 15px;
  margin: 4%;
  background: #f7f7f7;
}

.buffer {
  padding: 4%;
}

/* Custom ultilities */
  /* Centered */

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .centered-below {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .vertical-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;

  }
  /* Separator */

  .separator {
    position: relative;
    margin-bottom: 1.7em;
    padding-bottom: 1.7em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: inherit;
  }
  .separator:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 86px;
    height: 2px;
    background-color: #222;

    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .separator.white:before {
    background-color: #fff;
  }

button, .button-home {
  border: 2px solid #fff;
  color: #fff;
  font-family: "Catamaran";
  background-color: transparent;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  padding: 0 30px;
  text-transform: uppercase;
  white-space: nowrap;
}

button, .button-home:hover {
  background: #fff;
  border-color: #fff;
  color: black;
  outline: 0;
}

/* Button inverted */

.button.inverted {
  font-size: inherit;
  padding: 20px 70px;
  color: white;
  height: auto;
  border: 3px solid white;
  text-transform: none;
  font-size: 26px;
  font-family: "Catamaran";
}

.button.inverted:hover {
  background: white;
  color: #222;
}

/* =Section general styling
-------- */

section {
  text-align: center;
  padding: 80px 0;
}

.blog:before {
  background: url("files/NW trip - Seattle 2.jpg");
  background-position: 50% 0;
}

.featured-bg-image {
  position: relative;
  background-color: #222222;
  color: white;
  min-height: 500px;
}
.featured-bg-image:before {
  content: '';
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: .35;
}

.footer {
  content: '';
  background-color: white;
  color: black;
}

/* =Hero
-------- */


.hero {
  padding: 0;
  min-height: 500px;
  text-align: center;
  position: relative;
  background-color: #d56d4d; /* layer fill content */
  color: white;
}
.hero-image {
  background: url("files/Butchart Gardens 2.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: .9;
}
.hero-image:after {
  content: '';
  opacity: .3; /* layer alpha */
  background-image: -moz-linear-gradient(right, #00cc99 0%, #99ffcc 100%); /* gradient overlay */
  background-image: -o-linear-gradient(right, #00cc99 0%, #99ffcc 100%); /* gradient overlay */
  background-image: -webkit-linear-gradient(right, #00cc99 0%, #99ffcc 100%); /* gradient overlay */
  background-image: linear-gradient(right, #00cc99 0%, #99ffcc 100%); /* gradient overlay */
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}
.hero h2 {
  font-size: 24px;
}

.hero p {
  padding: 0 15%;
}
.hero .separator:before {
  background-color: white;
}

/* About */

.img_about {
  list-style: none;
  width: 100%;
}
.img_about li {
  position: relative;
  overflow: hidden;
}
.img_about li img {
  height: 300px;
  display: inline-block;
  border-radius: 100%;
}

/* Blog Posts */

.blog ul {
  list-style: none;
  display: inline-table;
  width: 45%;
}
.blog li {
  display: block;
}

.recent_posts_list {
  font-family: font-family: "Dosis", Helvetica, Arial, sans-serif;
}

.post-link {
  color: #000;
  font-family: font-family: "Dosis", Helvetica, Arial, sans-serif;
  text-decoration: none;
  background-color: #99ffcc;
}

.post-link:hover {
  text-decoration: none;
  color: #000;
}

/* Larger than mobile */
@media (max-width: 400px) {
  .button.inverted {
    padding: 15px;
  }
  .blog ul {
    width: 85%;
}
@media (min-width: 400px)  and (max-width: 750px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) and (max-width: 750px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
