<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway|Open+Sans" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a class="no_btn_link_head" href="/">home</a></li>
		        	<li><a class="no_btn_link_head" href="/about">about</a></li>
	        		<li><a class="no_btn_link_head" href="/blog">blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a class="no_btn_link_foot" href="mailto:lori.burleson@gmail.com">email</a></li>
	        		<li><a class="no_btn_link_foot" href="https://github.com/lburl01">github.com/lburl01</a></li>
				</ul>
			</footer>
		</body>
	</html>
