<!DOCTYPE html>
	<html>
		<head>
			<!-- Get responsive -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!--[if lt IE 9]>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
			<![endif]-->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway:300i,500|Open+Sans:400,600" rel="stylesheet">
		</head>
		<body>
			<div class="header_rule"></div>
			<div class="header">
				<img id="header_img" src="http://i.imgur.com/5xvo0AE.jpg" />
				<div class="container">
	    		<ul class="nav">
	        		<li><a class="no_btn_link_head" href="/">home</a></li>
		        	<li><a class="no_btn_link_head" href="/about">about</a></li>
					</ul>
				</div>
			</div>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<div class="buffer">
			</div>
		</body>
	</html>
