<!DOCTYPE html>
	<html>
		<head>
			<!-- Get responsive -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!--[if lt IE 9]>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
			<![endif]-->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/skeleton.css">
      <link rel="stylesheet" href="/css/testing.css">
			<link href="https://fonts.googleapis.com/css?family=Cabin|Catamaran:700|Dosis" rel="stylesheet">
		</head>
		<body>

<!-- Menu -->

<!-- <nav class="navigation">
  <a href="#" class="menu-icon">
  </a>
  <ul class="main-navigation">
    <li><a href="#hero">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#blog">Blog</a></li>
  </ul>
</nav> -->

<!-- Hero -->

<section id="hero" class="hero u-full-width">
  <div class="hero-image"></div>
  <div class="container centered">
    <div class="twelve columns">
      <h1 class="separator">busy lori bee</h1>
      <h2>Reporting from the Wilds of The Iron Yard, Durham.</h2>
    </div>
  </div>
</section>

<!-- Introduction -->

<section data-sr id="about" class="about u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3 class="separator">About</h3>
        <h4>Something about me. Something more about me. Oh, how I love ice cream.</h4>
      </div>
    </div>
  </div>
</section>

<!-- Blog -->

<section data-sr id="blog" class="blog u-full-width featured-bg-image">
  <h4 class="centered">
    <button class="button inverted"><a href="/blog">She Be Bloggin'</a></button>
  </h4>
</section>

<!-- Footer -->

<section data-sr class="footer u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h5>&copy 2016 L. B. Baumgartner</h5>
      </div>
    </div>
  </div>
</section>

</body>
</html>
